<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Alexander's Portfolio</title>
    <meta property="og:title" content="Alexander Hyman" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://itsalexander.dev/" />
    <meta name="theme-color" content="#111111" />
    <meta name="description" content="Alexander Hyman — Canadian Developer." />
    <meta
      property="og:description"
      content="Alexander Hyman — Canadian Developer."
    />
    <meta property="twitter:url" content="https://itsalexander.dev" />
    <meta name="description" content="Alexander Hyman — Canadian Developer." />
    <meta
      property="twitter:description"
      content="Alexander Hyman — Canadian Developer."
    />
    <meta
      name="keywords"
      content="LavenderFolf, LavenderColoredFolf, Alexander Hyman"
    />
    <meta name="author" content="Alexander Hyman" />
    <script
      src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/static/img/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/static/img/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/static/img/favicon-16x16.png"
    />
    <link rel="manifest" href="/static/img/site.webmanifest" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <meta name="description" content="Alexander Hyman's Portfolio" />
    <link href="/static/css/tailwind.css" rel="stylesheet" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/flowbite@1.5.5/dist/flowbite.min.css"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@2.6.0/dist/full.css"
      rel="stylesheet"
      type="text/css"
    />
    <script src="https://unpkg.com/flowbite@1.5.5/dist/flowbite.js"></script>
    <link href="https://fonts.cdnfonts.com/css/dm-sans" rel="stylesheet" />
  </head>
  <style>
    span {
      color: #844b92;
    }
  </style>
  <!-- Navbar -->
  <body style="background-color: #222222">
    <div id="loading">
      <svg
        id="loading-image"
        aria-hidden="true"
        class="w-8 h-8 text-gray-200 animate-spin dark:text-gray-600 fill-purple-600"
        viewBox="0 0 100 101"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
          fill="currentColor"
        />
        <path
          d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
          fill="currentFill"
        />
      </svg>
    </div>
    <nav
      class="bg-black border-grey-200 px-2 sm:px-4 py-2.5 rounded"
      style="background-color: #111111"
    >
      <div
        class="container flex flex-wrap items-center mx-auto justify-between"
      >
        <a href="/" class="flex items-center">
          <img src="https://i.imgur.com/KgtGITK.png" class="h-6 mr-3 sm:h-9" />
          <span
            class="self-center text-xl font-bold whitespace-nowrap text-white"
            >Alexander Hyman</span
          >
        </a>
        <button
          data-collapse-toggle="navbar"
          type="button"
          class="inline-flex items-center p-2 ml-3 text-sm text-white rounded-lg md:hidden focus:outline-none dark:text-gray-400 hover:bg-[#111111]"
          aria-controls="navbar-default"
          aria-expanded="false"
        >
          <svg
            class="w-6 h-6"
            aria-hidden="true"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
              clip-rule="evenodd"
            ></path>
          </svg>
        </button>
        <div class="hidden w-full md:block md:w-auto" id="navbar">
          <ul
            class="flex flex-col p-4 mt-4 md:border-0 md:bg-grey-300 rounded-lg md:flex-row md:space-x-8 md:mt-0 md:text-sm md:font-medium dark:bg-gray-800 md:dark:bg-gray-200"
          >
            <li>
              <a
                href="/"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >Home</a
              >
            </li>
            <li>
              <a
                href="/#about"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >About</a
              >
            </li>
            <li>
              <a
                href="/#projects"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >Projects</a
              >
            </li>
            <li>
              <a
                href="examples"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                aria-current="page"
                >Examples</a
              >
            </li>
            <li>
              <a
                href="contact"
                class="block py-2 pl-3 pr-4 text-white rounded md:bg-grey-50 md:p-0 dark:text-white"
                >Contact</a
              >
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header  -->

    <div class="hero">
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 mt-8 text-4xl font-white font-semibold text-white">
            Examples
          </h1>
          <p class="mb-5 text-1xl text-white">
            Below you'll find some examples of my past work & testimonitals.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center mb-5" style="gap: 2.5rem">
      <img
        src="https://i.imgur.com/EuakNlI.png"
        style="width: 500px; border-radius: 15px"
      />
      <img
        src="https://i.imgur.com/cRjQyTT.png"
        style="width: 500px; border-radius: 15px"
      />
      <img
        src="https://i.imgur.com/2HqyG5N.png"
        style="width: 500px; border-radius: 15px"
      />
    </div>

    <div class="hero">
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 mt-8 text-4xl font-white font-semibold text-white">
            Clients
          </h1>
          <p class="mb-5 text-1xl text-white">
            This is a list of my current and past clients.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center" style="gap: 2.5rem">
      <a href="https://orbitnode.net">
        <div class="card w-80 bg-base-100 shadow-xl image-full">
          <figure>
            <img
              src="https://cdn.discordapp.com/attachments/881911601479950356/1057843711976931358/FWBlue.png"
              class="contain"
              alt="Harmony Logo"
              style="object-fit: cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title text-white">OrbitNode</h2>
            <p class="text-white">
              I created their main website back in August in 2022. From there
              another developer took on the work and made it the site it is now.
            </p>
          </div>
        </div>
      </a>
      <a href="https://highspeedtrucking.ca">
        <div class="card w-80 bg-base-100 shadow-xl image-full">
          <figure>
            <img
              src="https://cdn.discordapp.com/attachments/881911601479950356/1057843711976931358/FWBlue.png"
              class="contain"
              alt="Harmony Logo"
              style="object-fit: cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title text-white">HighSpeed Trucking</h2>
            <p class="text-white">
              I initally created their website while learning a Tailwind UI
              Components Library, and I was pleased with the results.
            </p>
          </div>
        </div>
      </a>
      <a href="https://colxr.net">
        <div class="card w-80 bg-base-100 shadow-xl image-full">
          <figure>
            <img
              src="https://cdn.discordapp.com/attachments/881911601479950356/1057843711976931358/FWBlue.png"
              class="contain"
              alt="Harmony Logo"
              style="object-fit: cover"
            />
          </figure>
          <div class="card-body">
            <h2 class="card-title text-white">ColXr</h2>
            <p class="text-white">
              I created their ticketing system, which features the basic
              functions of Ticket Tool, a popular discord ticket bot.
            </p>
          </div>
        </div>
      </a>
    </div>

    <div class="hero">
      <div class="hero-content text-center text-neutral-content">
        <div class="max-w-md">
          <h1 class="mb-5 mt-8 text-4xl font-white font-semibold text-white">
            Testimonitals
          </h1>
          <p class="mb-5 text-1xl text-white">
            Below you'll be able to see feedback provided in regards to my work.
          </p>
        </div>
      </div>
    </div>

    <div class="flex flex-wrap justify-center mb-8" style="gap: 2.5rem">
      <div
        class="flex card"
        style="background-color: #131f32; height: 280px; width: 450px"
      >
        <div class="card-body">
          <blockquote class="italic text-white dark:text-white">
            <p class="mb-2">
              "Alexander has always been enthusiastic and hard-working, and
              always completes projects in a minimal amount of time, and always
              tries their hardest to go the extra mile, as well as collaborating
              well with others in a team. I'd highly recommend choosing
              Alexander for your next project if you're looking for an
              individual who's talented, enthusiastic and an excellent team
              player."
            </p>
            <p style="padding-top: 5px">- Nick, Harmony Radio</p>
          </blockquote>
        </div>
      </div>
      <div
        class="flex card"
        style="background-color: #131f32; height: 280px; width: 450px"
      >
        <div class="card-body">
          <blockquote class="italic text-white dark:text-white">
            <p class="mb-2">
              "We hired Alexander to do development for our virtual trucking
              company after seeing some of their previous projects. They’re
              professional, has excellent work quality, and is an intelligent
              individual that can take simple ideas and turn them into helpful
              tools. I highly recommend them for any business or personal
              projects and services."
            </p>
            <p style="padding-top:25px">- Chev, Freightway</p>
          </blockquote>
        </div>
      </div>
    </div>

    <footer
      class="sticky top-[100vh] p-4 shadow md:flex md:items-center md:justify-between sm:justify-between md:p-6 flex flex-wrap"
      style="background-color: #111111"
    >
      <span class="text-sm text-white sm:text-center dark:text-white"
        >© 2022 Alexander Hyman</span
      >
      <ul class="flex flex-wrap items-center mt-3 text-sm text-white sm:mt-0">
        <li>
          <a href="/" class="mr-4 hover:underline md:mr-6 md:ml-2">Home</a>
        </li>
        <li>
          <a href="#about" class="mr-4 hover:underline md:mr-6 md:ml-2"
            >About</a
          >
        </li>
        <li>
          <a href="#projects" class="mr-4 hover:underline md:mr-6">Projects</a>
        </li>
        <li>
          <a href="examples" class="mr-4 hover:underline md:mr-6">Examples</a>
        </li>
        <li>
          <a href="contact" class="mr-4 hover:underline md:mr-6">Contact</a>
        </li>
      </ul>
    </footer>
    <script src="/static/js/preloader.js" type="text/javascript"></script>
  </body>
</html>
